/*VARIABLES GLOBALES*/
:root {
    --color-amarillo-intenso: #ffc107;
    --color-amarillo-dorado: #FFD700;
    --color-azul: #1a73e8;
    --color-azul-corporativo: #0077B5;
    --color-azul-palido: #d9f7ff;
    --color-azul-primario: #007bff;
    --color-azul-brillante: #4a90e2;
    --color-azul-muy-palido: #0F8FF;
    --color-blanco: #ffffff;
    --color-background: linear-gradient(135deg, #4a90e2, #50c9ce);
    --color-claro: #ededed;
    --color-gris: #b4b4b4;
    --color-gris-claro: #F0F0F0;
    --color-gris-antracita: #333;
    --color-gris-muy-palido: #f8f9fa;
    --color-gris-claro-estandar: #dddddd;
    --colo-gris-grisaceo: #f0f0f0;
    --color-gris-grisaceo-palido: #eee;
    --color-gris-neutro: #999999;
    --color-negro: #202124;
    --color-negro-negro: #000000;
    --color-rojo-brillante: #dc3545;
    --color-verde-salvia: #97A884;
    --color-verde-esmeralda: #00c96d;
    --color-verde-primavera: #28a745;
    --color-verde-pálido: #D3F3C4;
    --color-verde-claro-vibrante: #9BE378;
    --color-verde-oliva-militar: #6B7F49;
    --color-verde-bosque: #294B27;
}

:root {
    --fuente-general:  Open Sans, sans-serif;/*Arial, Helvetica, sans-serif;*/ 
   --fuente-primaria: ;
}

/*NUEVO CSS PARA EL MENU NAVBAR PRICIPAR*/

body {
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--color-gris-claro-estandar);
}

/*Contenedor del formulario flexible */
.form-row {
    display: flex;
    flex-wrap: wrap; /*Permite que los elementos se ajusten */
    margin-bottom: 15px;
}

.header-menu {
    opacity:1;
    background-color:var(--color-amarillo-intenso) !important;
}

.header-navbar {
    font-size: 14px;
    height: auto;
    margin: auto;
}

.header-event {
    font-size: 22px;
}

.event-input {
    height: 95px !important;
}

.header-navbar:hover {
    text-decoration: none;
}

/*Evento hover para el menu principal*/
.header-navbar li a:hover {
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-weight: bold;
    color: var(--color-blanco);
    text-transform: uppercase;
}


.nav-link {
    padding:4px 1.5rem !important;
}

    .nav-link a  {
        color: var(--color-blanco) !important;
    }

.navbar-ul li a{
    font-size: 16px;
    color: var(--color-blanco) !important;
}

    /*Evento hover para el sub menu de la pagina principal*/
    .navbar-ul li a:hover {
        font-size: 14px;
        max-width: 20%;
        cursor: pointer;
        border-radius: 8px;
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        color: var(--color-negro) !important;
    }
/*clase css para el carousel*/
.card-carousel {
    font-size: 14px;
    color: var(--color-gris);
}

    .card-carousel p, h5 {
        font-size: 18px;
        color: var(--color-blanco) !important;
    }

    .card-carousel img {
        border-radius: 8px;
        margin-top: 10px;
        max-width: 440px;
        max-height: 425px;
    }

@media (max-width:576px) {
    .navbar-ul li a:hover {
        font-size: 12px;
        padding: 6px;
        max-width: 60%;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

@media (max-width: 768px) {

    .navbar-ul li a:hover {
        font-size: 14px;
        padding: 8px;
        max-width: 40%;
        border-radius: 6px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}

.container-body {
    margin-top: 40px;
}

.contect-form {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}

    .contect-form button[type=submit] {
        background-color: #04AA6D;
        color: var(--color-blanco);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

        .contect-form button[type=submit]:hover {
            background-color: #45e049;
        }

.sub-header {
    background-color:var(--color-verde-oliva-militar);
    text-transform: full-width;
    padding: 1rem 0;
    width: 100%;
    margin-top: -0px;
    margin: 10px 0;
}

/*Class hero container*/
.hero {
    background-color: var(--color-verde-claro-vibrante);
    text-align: center;
    padding: 4rem 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.hero-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}


/*Código css para los section de promociones de los tipos de eventos que organizamos*/
.event-section {
    background-color: var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 590px;
}

    .event-section h2 {
    color: var(--color-blanco);
    margin-bottom: 1rem;
    font-size: 2rem;
}

    .event-section article {
        color: var(--color-blanco);
        font-weight:500;
    }

    .event-section .event-image {
        max-width: 1300px;
        max-height: 480px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 1rem;

  }

    .event-section article {
        margin-top: 1rem;
        position: relative;
        width: 460px;
        bottom: 520px;
        font-size: 24px;
        left: 35rem;
    }

    .event-section ul {
        list-style: disc;
        padding-left: 1.5rem;
    }


    /*=========== eventos culturales ============*/
.event-section-culturales {
    background-color: var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px  8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 570px;
}

    .event-section-culturales h2 {
        color: var(--color-blanco);
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .event-section-culturales article {
        color: var(--color-blanco);
        font-weight: 500;
        margin-right: 1rem;
        position: relative;
        width: 390px;
        bottom: 400px;
        font-size:24px;
        left: 45rem;
    }

    .event-section-culturales ul {
        list-style: disc;
        padding-left: 1.5rem;
    }

    .event-section-culturales img {
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
        left: 0.25rem;

    }


/*====== eventos sociales ========*/
.event-section-sociales {
    background-color:var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 550px;
}

    .event-section-sociales h2 {
        color: var(--color-blanco);
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .event-section-sociales article {
        color:var(--color-blanco);
        font-weight: 500;
        margin-top: 1rem;
        position: relative;
        width: 420px;
        bottom: 450px;
        font-size: 24px;
        left: 32rem;
    }

    .event-section-sociales img {
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
        left: 0.25rem;
    }

    .event-section-sociales ul {
       list-style:disc;
       padding: 1.5rem;
    }


/*========  bodas ========*/

.event-section-boda {
    background-color: var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 580px;

}

    .event-section-boda h2 {
        color: var(--color-blanco);
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .event-section-boda article {
        color: var(--color-blanco);
        font-weight: 500;
        margin-top: 1rem;
        position: relative;
        width: 470px;
        bottom: 475px;
        font-size: 22px;
        left: 35rem;

    }

    .event-section-boda img {
    max-width: 1400px;
    max-height: 490px;
    object-fit: fill;
    border-radius: 8px;
    margin-bottom: 1rem;
    left: 0.25rem;
    height:auto;

}

    .event-section-boda ul {
        list-style: disc;
        padding: 1.5rem;
    }

/*========= conversatorio para novios =========== */
.event-section-novios {
    background-color: var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 570px;
 
}

    .event-section-novios h2 {
        color: var(--color-blanco);
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;

    }

    .event-section-novios article {
        color: var(--color-blanco);
        font-weight: 500;
        margin-top: 1rem;
        position: relative;
        width: 420px;
        bottom: 510px;
        font-size: 24px;
        left: 35rem;
    }

    .event-section-novios img {
        max-width: 800px;
        max-height: 470px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 1rem;
        left: 0.25rem;
        height: auto;
    }

    .event-section-novios ul {
        list-style: disc;
        padding: 1.5rem;
    }

/*=========== birthday ============= */
.event-section-birthday {
    background-color: var(--color-verde-salvia);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    max-height: 570px;
}

    .event-section-birthday h2 {
        color:var(--color-blanco);
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .event-section-birthday article {
        color: var(--color-blanco);
        font-weight: 500;
        margin-top: 1rem;
        position: relative;
        width: 420px;
        bottom: 510px;
        font-size: 24px;
        left: 35rem;
    }

    .event-section-birthday img {
        max-width: 1200px;
        max-height: 470px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 1rem;
        left: 0.25rem;
        height: auto;
    }


/*=========== CARD HEADER ==========*/
.card-header {
    background: var(--color-gris-antracita);
    color: var(--color-blanco);
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.btn {
    padding: 8px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}

/*btn editar*/
.btn-outline-warning {
    color: var(--color-amarillo-intenso);
    border-color: var(--color-amarillo-intenso);
    transition: background-color 0.2s, color 0.2s;
}

    .btn-outline-warning:hover {
        background-color: var(--color-amarillo-intenso);
        color: var(--color-blanco);
    }

/*btn eliminar*/
.btn-outline-danger {
    color: var(--color-rojo-brillante);
    border-color: var(--color-rojo-brillante);
    transition: background-color 0.2s, color 0.2s;
}

    .btn-outline-danger:hover {
        background-color: var(--color-rojo-brillante);
        color: var(--color-blanco);
    }

.btn-social {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

    .btn-social:hover {
        transform: scale(1,1);
        color: var(--color-blanco);
    }

/**Estilo para la cabecera*/
.card-header {
    background-color: var(--color-negro);
    /*background: linear-gradient(45deg, #62b6eb, #218838);*/
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.event-header-title {
    text-decoration:none;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-left:510px !important;
}


/*Contactos*/
.main-flex {
    background-color: var(--color-verde-oliva-militar);
    color: var(--color-negro-negro);
    padding: 40px;
    flex: 1;
    margin-left: 25px;
    right: 50%;
    bottom: 5px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background-size: cover;
    max-width: 400px;
    height: 540px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: -20px !important;
    box-sizing: border-box;
}

.contacto-container {
    margin-top: -90px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 60px;
}

    .contacto-container article {
        max-width: 300px;
        background-color: #ffffff;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        font-family: var(--fuente-general);
    }

    .contacto-container h2 {
        margin-bottom: 1rem;
        color: #1fa2ff;
    }

    .contacto-container p {
        margin: 0.5rem 0;
        font-size: 0.95rem;
    }

    .contacto-container i {
        color: #1fa2ff;
        margin-right: 8px;
    }

/*boton contactos*/
.boton-contenedor {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    max-height: 400px;
    max-width: 250px;
    margin-left: 530px;
}

.captcha {
    margin-left: -60px;
    margin-top: 56.9px;
    left: 40px;
}

.boton-enviar {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
    bottom: 200px;
}

    .boton-enviar:hover {
        background-color: #28a745; /* verde */
        color: #ffffff;
        transform: scale(1.05);
        border-color: #28a745;
        font-size: 20px;
    }



/*Estilos para los inputs*/
.form-caja {
    height: 40px;
    width: 100%;
    margin-block: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 60px;
    margin: auto;
    align-items: center !important;
    text-align: center !important;
    margin-bottom: 20px;
    padding-right: 15px;
    box-sizing: border-box;
    z-index: 0;
    left: 110px;
    margin-block: 10px; /*Para hacer los fomulario responsive*/
    border-radius: 18px;
}

    .form-caja input,
    .form-caja textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 2px solid var(--color-gris);
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-caja input,
    .form-caja textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;
        transition: border-color 0.3s;
    }

        .form-caja input:focus {
            border-color: var(--color-verde-primavera);
            box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
        }

    .form-caja label {
        position: absolute;
        top: 50%;
        left: 12.4px;
        transform: translateY(-50%);
        background: var(--color-blanco);
        padding: 0 5px;
        color: var(--color-gris-neutro);
        font-size: 14px;
        transition: 0.3s ease-in-out;
    }

    .form-caja input:focus + label,
    .form-caja input:not(:placeholder-shown) + label {
        top: 0;
        font-size: 12px;
        color: #28a745;
    }

.form-general {
    height: 670px;
    margin: auto;
    border: 1px solid var(--colo-gris-grisaceo);
    margin-block: 10px;
    margin-bottom: 70px;
}

    .form-general article {
        margin-left: 60px;
        margin-bottom: 2px;
    }

/* Para pantallas pequeñas (ej. móviles)*/
@media (max-width: 480px) {
    .form-caja {
        max-width: 90%;
    }

        .form-caja input,
        .form-caja textarea {
            font-size: 14px;
            padding: 10px;
        }
}

/*Nuevo media queries*/
@media (max-width:768px) {
    .col-sm-8 {
        width: 95%;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
}

@media (max-width:480px) {
    .card-header {
        font-size: 14px;
        padding: 10px;
    }

    .bth {
        width: 100%;
        margin-bottom: 10px;
    }

    .boton-enlace {
        font-size: 14px;
    }
}

/*CSS FOOTER*/
.footer {
    background: linear-gradient(135seg, #4a90e2, #50c9ce);
    color: var(--color-blanco);
    text-align: center;
    padding: 1rem 0;
    margin-top: -22px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: static !important;
}

/*ICONO FOOTER*/
.footer-icon {
    bottom: 10px;
    font-size: 12px;
    font-family: var(--fuente-general);
}

.icon-reddit:hover {
    color: coral;
}

.footer-contacto {
    color: var(--color-azul-muy-palido);
    padding: 12px;
    bottom: 10px;
    font-size: 14px;
}

.footer-div {
    text-align: center;
    padding: 15px;
    background-color: var(--color-gris-muy-palido);
    border-top: 2px solid var(--color-gris-claro-estandar);
}

.footer-p {
    font-size: 20px;
    color: var(--color-gris-antracita);
    margin: 0;
}

/*Estilos para los icon de red social Contactos*/
.social-icon {
    font-size: 25px;
    color: inherit;
}

.btn-social-icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

    .btn-social-icon:hover {
        opacity: 0.85;
        text-decoration: none;
    }

    .btn-social-icon i {
        font-size: 25px;
    }

/* Color por red social */
.linkedin {
    font-size: 30px;
    color: #0077B5;
    border-color: #0077B5;
}

.x-twitter {
    color: #000000;
    border-color: #000000;
}

.facebook {
    color: #1877F2;
    border-color: #1877F2;
}

.instagram {
    color: #E1306C;
    border-color: #E1306C;
}

.whatsapp {
    color: #25D366;
    border-color: #25D366;
}

.threads {
    color: #000000;
    border-color: #000000;
}

/*CSS PARA LOS ENLACES DE CONTACTO EN EL FOOTER*/
.footer-contact-link {
    text-decoration: none;
    color: var(--color-azul-primario);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

    .footer-contact-link:hover {
        background-color: var(--color-azul-corporativo);
        color: var(--color-verde-esmearalda);
        text-decoration: blink;
        font-size: 20px;
        margin: auto;
        height: 5px;
        padding: 8px;
        border-radius: 20px;
    }

    .footer-contact-link i {
        margin-right: 5px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    /* Pequeño zoom y cambio de color en el icono al pasar el mouse */
    .footer-contact-link:hover i {
        transform: scale(1.2);
        color: var(--color-verde-esmeralda) !important;
    }

    /*SOLUCIÓN: Forzar el color al hacer hove */
    .footer-contact-link:hover,
    .footer-contact-link:hover i {
        color: var(--color-verde-esmearalda) !important; /* Verde brillante o esmeraalda */
    }

        /* Pequeño zoom y cambio de color en el icono al pasar el mouse */
        .footer-contact-link:hover i {
            transform: scale(1.2);
        }

/*SUB FOOTER*/
.sub-footer {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 15px 0;
    font-size: 0.8em;
}

    .sub-footer h5 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .sub-footer p {
        margin: 0;
    }

    .sub-footer .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

/*Botones footer*/
.card-footer {
    text-align: center;
    padding: 15px;
    padding-top: 10px;
}

    .card-footer .bth {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
    }

.form-footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.form-footer-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
}

.form-footer-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.form-footer h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*CODIGO CSS PARA LA */
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

    .gallery img:hover {
        transform: scale(1.05);
    }

.gallery {
    padding: 20px;
}

