<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="cotact-body">
   
    <div class="card">
        <div class="contact-container">
            <div class="contact-header text-center" style="margin-bottom:15px;">
                <header>
                    <h4>Contactos</h4>
                </header>
            </div>

            <h4>¿Tienes alguna pregunta o necesitas más información?</h4>
            <p>
                Estamos aquí para ayudarte. Completa el siguiente formulario y nos pondremos en contacto
                contigo lo antes posible.
            </p>

            <form action="#" method="post" class="contect-form">
                <input type="text" name="nombre" placeholder="Tu nombre" required>
                <input type="email" name="email" placeholder="Tu correo electrónico" required>
                <input type="text" name="asunto" placeholder="Asunto" required>
                <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
                <button class="contact-button" type="submit">Enviar Mensaje</button>
            </form>
            <hr />
            <h2>Información de Contacto</h2>
            <p><strong>Teléfono:</strong> (809) 528-9638</p>
            <p><strong>Email:</strong> event@gmail.com</p>
            <p><strong>Dirección:</strong> Calle Colón 123, Santo Domingo, D.N, Rep. Dom.</p>
        </div>
    </div>
</body>
</html>
